<!DOCTYPE html>
<html data-theme="luxury" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Lego Collection</title>
</head>
<body>
    <!-- Creating a Navbar -->
    <div class="navbar bg-base-100" data-theme="luxury">
        <div class="flex-1">
            <a href="/">Legos</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About</a></li>
                <li>
                    <details>
                        <summary>Theme</summary>
                        <ul class="p-2 bg-base-100 rounded-t-none">
                            <li><a href="/lego/sets?theme=technic">Technic</a></li>
                            <li><a href="/lego/sets?theme=classic Town">Classic Town</a></li>
                            <li><a href="/lego/sets?theme=supplemental">Supplemental</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
   

    <!--Hero Section-->
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404</h1>
            <p class="py-6">Sorry for the inconvenience, <br> we  don't have what you were looking for.</p>

          </div>
        </div>
      </div>
</body>
</html>